In [2]:
#add pandas
import pandas as pd
import os

In [3]:
#load files
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load= os.path.join("Resources","students_complete.csv")

In [4]:
#read school, data frame
school_data_df = pd.read_csv(school_data_to_load)

In [5]:
#read students, data frame
student_data_df = pd.read_csv(student_data_to_load)

In [6]:
#clean prefixes and suffixes in student names

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

student_data_df.head(10)

C:\Users\sarah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [7]:
#save cleaned to csv

student_data_df.to_csv("clean_students_complete.csv")

In [8]:
#merge 
school_data_complete_df = pd.merge(student_data_df, school_data_df, on ="school_name")
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
#student count

student_count = school_data_complete_df["student_name"].count()

student_count

39170

In [10]:
#school count

school_count = school_data_complete_df["school_name"].nunique()
school_count

15

In [11]:
#budget sum
total_budget = school_data_df["budget"].sum()

total_budget

24649428

In [12]:
#score averages
#reading
average_reading_score= school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [13]:
#math
average_math_score= school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [14]:
#passing percentages - filter for df passing math 
passing_math = school_data_complete_df[school_data_complete_df["math_score"]>= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [15]:
#use filtering to gen df for passing reading 
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"]>= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [16]:
#pass math count
passing_math_count= passing_math["student_name"].count()
passing_math_count

29370

In [17]:
#pass reading count
passing_reading_count =passing_reading["student_name"].count()
passing_reading_count

33610

In [18]:
#percent pass 
#didn't use float at first - still worked - float purpose?

percent_passing_math = passing_math_count / float(student_count) * 100
percent_passing_reading = passing_reading_count / float(student_count) * 100

In [19]:
#percent pass print 
print(percent_passing_math)
print(percent_passing_reading)

74.9808526933878
85.80546336482001

In [20]:
#percent pass both

passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"]>= 70) & (school_data_complete_df["math_score"]>= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [21]:
#overall pass count 
overall_passing_math_reading_count = passing_math_reading.student_name.count()

overall_passing_math_reading_count

25528

In [22]:
#overall pass percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [23]:
#district summary dataframe 
#use pandas data frame function 
district_summary_df = pd.DataFrame([{"Total Schools": school_count,
                        "Total Students": student_count,
                        "Total Budget": total_budget,
                        "Average Reading Score": average_reading_score,
                        "Average Math Score": average_math_score,
                        "% Passing Reading": percent_passing_reading,
                        "% Passing Math": percent_passing_math,
                        "% Overall Passing": overall_passing_percentage}])

district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [24]:
#chain map and format functions
#code correct first time but error second time running?
#traceback error when only run that cell, no error when run all cells?

In [25]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"]= district_summary_df ["Total Budget"].map("${:,.2f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,79.0,86%,75%,65%

In [26]:
#reorder

new_column_order = ["Total Schools","Total Students", "Total Budget","Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing" ]
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

In [42]:
#index of school names
#set index method 
per_school_types = school_data_df.set_index(["school_name"])["type"]

per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [43]:
#calc total student count
per_school_counts = school_data_df.set_index("school_name")["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [44]:
#alternate: use count
per_school_counts2 = school_data_complete_df["school_name"].value_counts()
per_school_counts2

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [47]:
per_school_budget = school_data_df.set_index("school_name")["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [48]:
per_school_capita = per_school_budget/ per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [ ]:
#grade averages